* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 10px;
}

form {
    display: flex;
    margin: 0 10vw;
    flex-direction: column;
}

.texto {
    margin-top: 20px;
}

.cores {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    width: 80vw;
}
