* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

h1 {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 10px;
}

.input-text-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-text-container > * {
    margin: 10px 0;
}